.bb-home {
  align-items: center;
  bottom: 0;
  background-color: #b58bc8;
  color: white;
  display: flex;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
